<div class="d-flex flex-row align-items-center justify-content-between">
    <div class="ml-5">
        <img src="assets/Logo.png">
        <a [routerLink]="['/']"> Products </a>
    </div>
    <div class="mr-5">
        <ng-template #popover id="login-popover">
            <form>
                <div class="d-flex flex-column align-items-center">

                    <div class="mt-3 mb-2">
                        <input type="email" name="email" placeholder="E-mail" class="">
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Password" class="">
                    </div>
                    <div>
                        <button class="login-button button-popover">Login</button>
                    </div>
                </div>
            </form>
        </ng-template>
        <button id="loginButton" class="login-button button-header" [ngbPopover]="popover" 
        placement="bottom" [autoClose]="false">
            Login
        </button>
    </div>
</div>