.products-header {
    font-size: 69px;
    font-weight: lighter;
}

.product-list{
    background-color: #FAFAFA;
    width: 100vw;
    padding: 60px 90px;
}

.cart{

}

.cart-quantity {
    font-size: 22;
    font-weight: lighter;
}
